* {
    margin: 0;
}

html,
body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
}
#lg:hover,
#re:hover{
	color:black;
}
#logo {
    position: absolute;
	width:9%;
}
#divcss5{ margin:10px auto} 
#divcss5 img{ border-radius:50%}
#square1,
#square2,
#square3,
#square4,
#square5{
    width: 120px;
    height:60px;
    color: black;
    float: right;
	line-height: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 21px;
    font-family: "Times New Roman";
	cursor:pointer;
}


#square1{
	width:200px;
}
#square1:hover,
#square2:hover,
#square3:hover,
#square5:hover
{
	border-radius: 50px;
	background-color:rgba(0,0,0,0.5);
	color:white;
} 
#square4{
	border-radius: 50px;
	background-color:rgba(0,0,0,0.5);
	color:white;
}
#bar {
    width: 100%;
    height: 60px;
    
    padding: 0;
    margin: 0;
	
}
#bar1 {
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0);
	
    padding: 0;
    margin: 0;
	
}
body {
    background-image:url(../image/bigstock-events-7444309.jpg);
    background-repeat: no-repeat;
	 background-attachment: fixed;
	background-size:100% 100%;
	width:100%;
	height:100%;
}
#barimage{
	 background:url(../image/temp1.png);
  background-repeat:no-repeat;
  background-position:0 0;
  height:70px;
  width:auto;
	z-index: 30;
}

#times{
	position:absolute;
	top:10px;
	left:820px;
	color:white;
	font-size:20px;
	font-family: "Times New Roman";
	text-align: center;
	
}
#shadow{
	width:100%;
	height:89%;
	margin:auto auto;
	position:absolute;
	top:60px;

}

#editprofile{
	position:relative;
	top:-170px;
	left:1300px;
	border:1px solid white;
	color:white;
	padding:10px;
	font-size:15px;
	border-radius: 25px;
}
#editprofile:hover{
	border:2px solid white;
	left:1299px;
}

#userimage{
	position:relative;
	top:-60px;
	left:80px;
	width:6%;
	z-index: 2;
}
#username{
	position:relative;
	top:0px;
	
	color:white;
	font-size:25px;
	font-family: "Times New Roman";
}

#times td{
	padding-right:50px;
}
form p>* {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
}

#image_logo {
    margin-top: 25px;
}



#tabs {
	position:absolute;

	height:300px;padding:5px;margin:20px;width:100px;}
#tabs ul{
	display: block;height:300px;
	position:relative;
	top:-60px;
	left:-30px;
	width:100%;
	z-index: 3;
	cursor:pointer;
}
#tabs ul li{
	list-style:none;
	text-align: center;
	padding:5px 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor:pointer;
	margin-bottom: 20px;
	width:120px;
	height:32px;
	line-height:32px;
	border:1px solid black;
	vertical-align: top;
	color:black;
	font-size:15px;
	background-color: white;

}
 #tabs ul li.on{
	background-color:rgba(0,0,0,0.6);
	border-left:1px solid rgba(0,0,0,0.6);
	border-top:1px solid rgba(0,0,0,0.6);
	border-bottom:1px solid rgba(0,0,0,0.6);
	border-right:1px solid rgba(0,0,0,0.6);
	color:white;
}
#tabs ul li:hover{
	background-color:rgba(0,0,0,0.6);
	border-right:1px solid rgba(0,0,0,0.6);
	color:white;
}

#tabs div{
	position:relative;
	top:-410px;
	left:131px;
	width:1300px;
	height:150%;
	border:1px solid black;
	background-color:white;
	z-index: 2;
}

.hide{
	display:none;
}

.myButton{
	text-decoration:none;
}

.label_input {
    font-size: 18px;
    font-family: "Times New Roman";
    width: 100px;
    height: 35px;
    line-height: 28px;
    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}



#btn_login {
    font-size: 20px;
    font-family: "Times New Roman";
    width: 150px;
    height: 35px;
    line-height: 28px;
    text-align: center;
    vertical-align: middle;
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;
    float: left;
}

#login_control {
    padding: 15px 125px;
}


.input-group,
.row {
    position: absolute;
    top: 50%;
	left:-2%;
    transform: translateY(-90%);
    width: 100%;
    text-align: center;
}

.container {
    height: 88%;
    width: 100%;
    position: relative;
}
.container input{
    width: 400px;
    height: 46px;
}


.form-control{
	border:1px solid gray;
	border-radius:5px;
}

.search-button{
    cursor: pointer;
    float: left;
    color: #fff;
    background: #00a1d6;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 50px;
    text-align: center;
    width: 120px;
	height:50px;
	border-radius: 5px;
	position:relative;
	left:1050px;
	vertical-align: middle;
	
}

.icon-search-white{
    background-image:url(../image/sprite-690be8a6ea.png);
    background-position: -148px -327px;
    width: 18px;
    vertical-align: middle;
    margin-top: -2px;
    height: 19px;
    display: inline-block;
}
.search-text{
    margin-left: 7px;
}

#login_frame {  
    width: 400px;  
    height: 400px;  
    padding: 13px;  
  
    position: absolute;  
    left: 50%;  
    top: 50%;  
    margin-left: -200px;  
    margin-top: -200px;  
  	
    background-color: rgba(240, 255, 255, 0.5); 
    border-radius: 5px;  
    text-align: center;  
}  
#logindiv{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	top:0px;
	display:none;
} 
#registerdiv{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	top:0px;
	display:none;
}
#close{
	position:relative;
	width:10px;
	right:-390px;
	top:-10px;
	font-size:20px;
	cursor:pointer;
}
#closer{
	position:relative;
	width:10px;
	right:-390px;
	top:-10px;
	font-size:20px;
	cursor:pointer;
}
form p > * {  
    display: inline-block;  
    vertical-align: middle; 
	margin-bottom: 20px;
}  
  
#image_logo {  
    margin-top: 22px;  
}  
  
.label_input {
    font-size: 18px;
    font-family: "Times New Roman";

    width: 100px;
    height: 35px;
    line-height: 35px;


    color: white;
    background-color: #3CD8FF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.text_field {
    width: 278px;
    height: 33px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}
  
#btn_login {
    font-size: 20px;
    font-family: "Times New Roman";

    width: 150px;
    height: 35px;
    line-height: 28px;
    text-align: center;
	vertical-align: middle;
    color: white;
    background-color: #3BD9FF;
    border-radius: 6px;
    border: 0;

    float: left;
}
  
  
#forget_pwd {  
    font-size: 12px;  
    color: black;  
    text-decoration: none;  
    position: relative;  
    float: right;  
    top: 5px;  
  
}  
  
#forget_pwd:hover {  
    color: blue;  
    text-decoration: underline;  
}  
  
#login_control {  
    padding: 0 28px;  
}  